* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.app {}

.header--container {
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
}

.header--img {
    width: 40px;
}

.header--title {
    height: 65px;
}

.header--project {
    font-weight: 400;
}

.pokelist {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pokemonlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    justify-content: center;
    padding: 25px 10vw;
    overflow: auto;
}

.pokemoncard {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
}

.pokemoncard--topButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemoncard--topButtons>p {
    cursor: pointer;

}

.pokemoncard--sprite {
    width: 100%;
}

.pokemoncard--3dVisibility {
    border-radius: 10px;
}

.pokemoncard--3dVisibility>img {

    width: 50px;
}



.pokemoncard--types {
    display: flex;
    color: #F8F8F8;
}

.pokemoncard--type {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: bold;

}

.pokemoncard__name {
    text-transform: capitalize;
    color: black;
    text-decoration: none;
}

.type--normal {
    background-color: #A8A8A8;
}

.type--fire {
    background-color: #F08030;
}

.type--water {
    background-color: #6890F0;
}

.type--grass {
    background-color: #78C850;
}

.type--electric {
    background-color: #F8D030;
}

.type--ice {
    background-color: #98D8D8;
}

.type--fighting {
    background-color: #C03028;
}

.type--poison {
    background-color: #A040A0;
}

.type--ground {
    background-color: #E0C068;
}

.type--flying {
    background-color: #A890F0;
}

.type--psychic {
    background-color: #F85888;
}

.type--bug {
    background-color: #A8B820;
}

.type--rock {
    background-color: #B8A038;
}

.type--ghost {
    background-color: #705898;
}

.type--dark {
    background-color: #705848;
}

.type--dragon {
    background-color: #7038F8;
}

.type--steel {
    background-color: #B8B8D0;
}

.type--fairy {
    background-color: #F0B6BC;
}


.pokemondetail--pokemonCanvas {
    cursor: grab;
    flex-grow: 2;
    position: relative;
}

.pokemondetail {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pokemondetail__details__back {
    position: absolute;
    top: 50px;
    left: 50px;
    pointer-events: all;
    display: flex;
    align-items: center;
    color: #FF4E4E;
    font-weight: 40px;
}

.pokemondetail__details__back>img {
    height: 65px;
}

.pokemondetail__sprite {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.pokemondetail__sprite>img {
    width: 500px;
    max-width: 100%;
}

.pokemondetail__loadscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transition: opacity 1s;
}

.pokemondetail__details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.pokemondetail__details__bottom {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin: 50px;
}

.pokemondetail__details__name {
    font-size: 5rem;
    text-transform: capitalize;
}

.pokemondetail__details__types {
    display: flex;
}

.pokemondetail__details__types>p {
    font-size: 2rem;
    color: white;
}

.pokemondetail__nav {
    display: flex;
}

.pokemondetail__prev, .pokemondetail__next {}