* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.header--container {
    display: flex;
    height: 65px;
    align-items: center;
    padding: 30px;
    background: linear-gradient(90deg, #802222 1.18%, #d32626 100%);
    color: white;
}

.header--img {
    width: 40px;
}

.header--title {
    margin-right: auto;
    margin-left: 10px;
}

.header--project {
    font-weight: 400;
}

.pokemonlist {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    column-gap: 2.5vw;
    row-gap: 10px;
    justify-content: center;
}

.pokemoncard {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.pokemoncard--sprite {
    width: 100%;
}

.pokemoncard--3dVisibility {
    background-color: #802222;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.pokemoncard--pokemonCanvas {
    width: 100%;
    aspect-ratio: 1;
}